# Data Wrangling in Pandas
* <b> Data Sorting:</b> To rearrange values in ascending or descending order.
* <b> Data Filtration:</b> To create a subset of available data.
* <b> Data Reduction:</b> To eliminate or replace unwanted values.
* <b> Data Access:</b> To read or write data files.
* <b> Data Processing:</b> To perform aggregation, statistical, and similar operations on specific values.

## Organising data
A | B
- | -
<img src="https://github.com/priyahasan/MSC-Computational-Physics-Lab/blob/main/Row_data.jpg?raw=1" alt="Drawing" style="width: 100px;"/> | <img src="https://github.com/priyahasan/MSC-Computational-Physics-Lab/blob/main/Col_data.jpg?raw=1" alt="Drawing" style="width: 150px;"/>

A <b> Data frame </b> is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

<b> Features of DataFrame </b>
* Potentially columns are of different types
* Size â€“ Mutable
* Labeled axes (rows and columns)
* Can Perform Arithmetic operations on rows and columns

int, float, str, lists, tuples, dict...

In [ ]:
a=2+4j

In [ ]:
b=4+8j

In [ ]:
a+b

(6+12j)

In [ ]:
a*b

(-24+32j)

### Creating empty DataFrame

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame()

In [ ]:
print(df)

Empty DataFrame
Columns: []
Index: []

### Creating DataFrame from list

In [ ]:
l=[1,2,3,4]

In [ ]:
df=pd.DataFrame(l)

In [ ]:
print(df)

   0
0  1
1  2
2  3
3  4

A | B
- | -
<img src="https://github.com/priyahasan/MSC-Computational-Physics-Lab/blob/main/DataFrame1.jpg?raw=1" alt="Drawing" style="width: 225px;"/> | <img src="https://github.com/priyahasan/MSC-Computational-Physics-Lab/blob/main/DataFrame2.jpg?raw=1" alt="Drawing" style="width: 225px;"/>

In [ ]:
df = pd.DataFrame(
    { "a" : [1, 2, 3],
      "b" : [3, 4, 5],
      "c" : [5, 6, 7]},
      index = ["r1","r2","r3"])

In [ ]:
df

    a  b  c
r1  1  3  5
r2  2  4  6
r3  3  5  7

In [ ]:
df2 = pd.DataFrame(
    [[1, 2, 3],
     [3, 4, 5],
     [5, 6, 7]],
      index = ["row1","row2","row3"],
      columns = ["a","b","c"])

In [ ]:
df2

      a  b  c
row1  1  2  3
row2  3  4  5
row3  5  6  7

In [ ]:
data=[["Priya",40],["Mamta",32],["Jill",25]]
myData=pd.DataFrame(data,columns=["Name","Age"])
print(myData)

    Name  Age
0  Priya   40
1  Mamta   32
2   Jill   25

In [ ]:
df=pd.read_csv('m3.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'm3.csv'

In [ ]:
print(df)

In [ ]:
df

In [ ]:
pip install ydata-profiling

In [ ]:
from ydata_profiling import ProfileReport

In [ ]:
report = ProfileReport(df)
report

In [ ]:
type(df)

In [ ]:
type(df['deg'])

In [ ]:
type(df['parallax'])

A | B|C|D
- | - | - | -
<img src="https://github.com/priyahasan/MSC-Computational-Physics-Lab/blob/main/Df_sort.jpg?raw=1" alt="Drawing" style="width: 225px;"/> | <img src="https://github.com/priyahasan/MSC-Computational-Physics-Lab/blob/main/ReshapingData.jpg?raw=1" alt="Drawing" style="width: 225px;"/> | <img src="https://github.com/priyahasan/MSC-Computational-Physics-Lab/blob/main/Df_SubsetRows.jpg?raw=1" alt="Drawing" style="width: 225px;"/> | <img src="https://github.com/priyahasan/MSC-Computational-Physics-Lab/blob/main/DF_SubsetColumn.jpg?raw=1" alt="Drawing" style="width: 225px;"/>

In [ ]:
df.sort_values("parallax")
df

In [ ]:
df.head(8)

In [ ]:
df.tail()

In [ ]:
df.drop(columns=["km/s"])

In [ ]:
df.head()

In [ ]:
df.tail(10)

In [ ]:
df.head(4)

In [ ]:
df.describe()

In [ ]:
myData.describe()

In [ ]:
df.describe()

In [ ]:
df.columns=['RA','Dec','Parallax','PMRA','PMDEC','vrad']

In [ ]:
print(df)

In [ ]:
list_of_columns=['RA','Dec','Parallax']
df[list_of_columns]
#To look at columns

In [ ]:
df.loc[[6,7,14]]
#To look at rows, use the loc

In [ ]:
df.loc[[100,101,102],['RA','Dec']]

In [ ]:
df['RA+Dec']=df['RA']+df['Dec']

In [ ]:
df['2RA']=df['RA']*2
df['RA+2']=df['RA']+2
#Basic Intuitive algebra is applicable to dataframes (or more specifically, series)

In [ ]:
def square_plus_one(number):
    return number*number+1

In [ ]:
square_plus_one(2)

In [ ]:
df['RA_Square_plus_one']=df['RA'].apply(square_plus_one)

In [ ]:
df["RA_Square_plus_one"]

In [ ]:
import numpy as np
def get_x_coordinate(series):
    a=series.RA
    d=series.Dec
    return np.cos(a)*np.cos(d)

df.apply(get_x_coordinate,axis=1)
#x = cos(a) cos(d)
#a is for RA and d is DEC
#y = sin(a) cos(d)
#z = sin(d)

In [ ]:
def get_x_coordinate(series):
    print('The Series is:')
    print(type(series))
    print(series)
    a=series.RA
    print('The Extracted RA is:')
    print(a)
    d=series.Dec
    print('The Extracted Dec is')
    print(d)
    print('----------------')
    return np.cos(a)*np.cos(d)

df.head().apply(get_x_coordinate,axis=1)

In [ ]:
df.head()

In [ ]:
df['PMRA'].plot(kind='hist')

In [ ]:
df[['RA',"Dec"]].plot(x='RA',y='Dec',kind='scatter')

Pandas High-Level Exercises â€“ Titanic Dataset
These exercises require advanced manipulation using the Titanic dataset.


import pandas as pd
df = pd.read_csv('titanic.csv')
1. Title Extraction and Analysis
Task: Extract the title (e.g., Mr., Miss, Master) from the Name column and determine the survival rate for each title.

Hint: Use string methods and .groupby().

2. Cabin Grouping
Task:
Group passengers based on the first letter of their Cabin (e.g., A, B, C...) and compute:

Total passengers

Survival rate per cabin group

Note: Handle missing cabins by labeling them as "Unknown".

3. Family Size Impact
Task:
Create a new column FamilySize = SibSp + Parch + 1 and categorize family size as:

'Single' (1)

'Small' (2â€“4)

'Large' (5+)

Then compute survival rates for each category.

4. Age Binning and Survival Analysis
Task:
Create age bins: [0â€“10], [11â€“20], ..., [71+] and use .cut() to assign age groups. Plot the survival rate by age group.

5. Cross Tab: Class vs. Sex vs. Survival
Task:
Create a pivot table showing survival counts and rates grouped by both Pclass and Sex.

6. Impute Missing Age Using Median per Title
Task:
Use the Title extracted in Exercise 1 to impute missing Age values with the median age of each title group.

7. Correlation Heatmap of Encoded Features
Task:
Encode Sex, Embarked, and Title using .map() or pd.get_dummies(), and compute a correlation matrix to see which features most strongly correlate with Survived.

8. Identify Duplicate Ticket Holders
Task:
Group passengers by Ticket number and identify tickets shared by multiple passengers. For these, compute the survival rate of all passengers sharing the same ticket.

9. Analyze Fare per Person
Task:
Calculate a new column FarePerPerson = Fare / FamilySize. Analyze the correlation between FarePerPerson and Survived.

10. Feature Interaction: Class and Fare
Task:
Create a new categorical feature that combines Pclass and fare quantiles (e.g., '1_HighFare', '2_LowFare', etc.). Analyze survival across these new categories.

In [ ]:
#import library and dataset
import pandas as pd
df = pd.read_csv('titanic.csv')

In [ ]:
#eda
df.head()

In [ ]:
#finding a title
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [ ]:
#title survival rate
title_survival = df.groupby('Title')['Survived'].mean().sort_values(ascending=False)
print("Survival Rate by Title:")
print(title_survival)

In [ ]:
#writing unknown to unknown data
df['CabinGroup'] = df['Cabin'].fillna('Unknown')

In [ ]:
# Number of passengers and survival rate for each group
cabin_stats = df.groupby('CabinGroup').agg(TotalPassengers=('PassengerId', 'count'),SurvivalRate=('Survived', 'mean'))
print("Cabin Group Stats:")
print(cabin_stats)

In [ ]:
#family size and family category. find family category survived rate
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df['FamilyCategory'] = pd.cut(df['FamilySize'], bins=[0, 1, 4, 100],labels=['Single', 'Small', 'Large'])
family_survival = df.groupby('FamilyCategory')['Survived'].mean()
print("Survival Rate by Family Category:")
print(family_survival)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#age range and survival by age range
bins = list(range(0, 71, 10))
labels = [f'{i}-{i+9}' for i in bins[:-1]]
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

age_survival = df.groupby('AgeGroup')['Survived'].mean()

age_survival.plot(kind='bar', title='Survival Rate by Age Group')
plt.ylabel('Survival Rate')
plt.xlabel('Age Group')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
#Number and rate of survival
pivot = pd.pivot_table(df, values='Survived', index='Pclass', columns='Sex',aggfunc=['count', 'mean'])
print("Pivot Table: Survival Count and Rate by Class and Sex")
print(pivot)

In [ ]:
# Missing ages were filled with median according to title
df['Age'] = df.groupby('Title')['Age'].transform(lambda x: x.fillna(x.median()))

# Is there a missing age or not?
print("Missing Age count after fill:", df['Age'].isnull().sum())

In [ ]:
import seaborn as sns

# Convert categorical variables to numeric
df_encoded = df.copy()
df_encoded['Sex'] = df_encoded['Sex'].map({'male': 0, 'female': 1})
df_encoded['Embarked'] = df_encoded['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
df_encoded = pd.get_dummies(df_encoded, columns=['Title'], drop_first=True)

# Correlation heat map
plt.figure(figsize=(12,8))
sns.heatmap(df_encoded.corr(numeric_only=True), cmap='coolwarm', annot=True, fmt='.2f')
plt.title('Feature Correlation Heatmap')
plt.tight_layout()
plt.show()

In [ ]:
# Find passengers using the same ticket
ticket_counts = df['Ticket'].value_counts()
duplicate_tickets = ticket_counts[ticket_counts > 1].index

# Survival rates in this group of tickets
df_dup = df[df['Ticket'].isin(duplicate_tickets)]
ticket_survival = df_dup.groupby('Ticket')['Survived'].mean()
print("Survival Rate for Passengers with Duplicate Tickets")
print(ticket_survival.head())

In [ ]:
# Per person fee calculation
df['FarePerPerson'] = df['Fare'] / df['FamilySize']

# Correlation analysis
fare_corr = df[['FarePerPerson', 'Survived']].corr()
print("Correlation between FarePerPerson and Survived:")
print(fare_corr)

In [ ]:
# Grouping by wage levels
df['FareGroup'] = pd.qcut(df['Fare'], 3, labels=['Low', 'Mid', 'High'])

# Creating a new category by combining Pclass and FareGroup
df['ClassFare'] = df['Pclass'].astype(str) + '_' + df['FareGroup'].astype(str)

# Survival rates by these categories
class_fare_survival = df.groupby('ClassFare')['Survived'].mean()
print("Survival Rate by Pclass-Fare Group:")
print(class_fare_survival)